<header class="header">
	<div class="header__content container">   
		<a href="/home" class="header__logo">   <!-- ^ Логотип сайта -->
			<img src="/лого.png" alt="Logo">
		</a>

		<h1 class="header__title">   <!-- ^ Название сайта -->
			<a href="/home">
				MKL World
			</a>
		</h1>

		<div class="header__profile">   <!-- ^ Кнопка профиля -->
			<img src="/user.png" alt="User">
		</div>
	</div>
</header>