<header class="header">
	<div class="header__content conteiner">
		<a href="#" class="header__logo">
			<img src="./лого.png" alt="Логотип">
		</a>
		<nav class="header__nav">
			<a href="/">
				<li>Главная</li>
			</a>
			<a href="/gallery">
				<li>Галерея</li>
			</a>
			<a href="/wiki">
				<li>Вики</li>
			</a>
		</nav>
		<div class="dropdown">
			<input type="image" onclick="myFunction()" class="dropbtn" src="./user.png" alt="Аккаунт">
			<div id="myDropdown" class="dropdown-content">
				<a href="/profile">Профиль</a>
				<a href="/reg">Вход</a>
				<a href="/admin">Админ-панель</a>
			</div>
		</div>
	</div>
</header>