<section class="way__section">
	<div class="way__content">
		<a href="/home" class="way__link">
			Главная
		</a>

		<span> > </span>

		<a href="#" class="way__link">
			<%= title %>
		</a>
	</div>
</section>