<!-- Сообщаем браузеру, как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываю язык содержимого -->
<html lang="ru">
<!-- Контейнер для других важных данных (не отображается) -->

<head>
    <%- include("header/head.ejs") %>
    <link rel="stylesheet" href="/authorization.css">   <!-- ~ Подключение основных стилей -->
</head>
<!-- Отображаемое тело страницы -->

<body>
    <main class="main">
        <div class="main__register" id="d1">
            <div class="main__close">
                <a href="/home"><img src="/close.png" width="15" height="15" alt="Закрыть"></a>
            </div>
            <label class="label">Зарегистрироваться</label>
            <form class="main__forms" id="register">
                <div class="main__forms_login">
                    <input type="text" id="name" name="name" placeholder=" " minlength="6" maxlength="20" required class="input-login">
                    <label for="name" class="login">Логин</label>
                </div>
                <div class="main__forms_mail">
                    <input type="email" id="mail" name="email" placeholder=" " maxlength="30" required class="input-mail">
                    <label for="mail" class="maiil">E-mail</label>
                </div>
                <div class="main__forms_password">
                    <input type="password" id="password" placeholder=" " name="password" minlength="6" maxlength="30" required class="input-password">
                    <label for="password" class="pass">Пароль</label>
                </div>
                <button class="button">Зарегистрироваться</button>
            </form>
            <a href="" class="hint" onclick="showDv('2'); return false">Есть аккаунт? Зайдите прямо сейчас</a>
        </div>

        <div class="main__entrance" id="d2">
            <div class="main__arrow">
                <a href="/home"><img src="/close.png" width="15" height="15" alt="Закрыть"></a>
            </div>
            <label class="label">Войти</label>
            <form class="main__forms">
                <div class="main__forms_login">
                    <input type="text" id="name" placeholder=" " required class="input-login">
                    <label for="name" class="login">Логин</label>
                </div>
                <div class="main__forms_password">
                    <input type="password" placeholder=" "  required class="input-password">
                    <label for="password" class="pass">Пароль</label>
                    <div class="main__recovery_pass">
                        <a href="" class="hint" onclick="showDv('3'); return false">Забыли пароль?</a>
                    </div>
                </div>
            </form>
            <button class="button">Войти</button>
            <a href="" class="hint" onclick="showDv('1'); return false">Нет аккаунта? Зарегистрируйтесь прямо сейчас</a>
        </div>

        <div class="main__recovery" id="d3">
            <div class="main__arrow">
                <a href="" onclick="showDv('2'); return false"><img src="/arrow.png" width="15" height="15"
                        alt="Закрыть"></a>
            </div>
            <label class="label">Восстановление</label>
            <form class="main__forms">
                <div class="main__forms_mail">
                    <input type="email" id="mail" placeholder=" " required class="input-mail">
                    <label for="mail" class="maiil">E-mail</label>
                </div>
            </form>
            <button class="button">Получить пароль</button>
        </div>
    </main>
    <script src="/authorization.js"></script> <!-- Подключение JavaScript -->
</body>

</html>