<!-- Сообщаем браузеру, как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываю язык содержимого -->
<html lang="ru">
<!-- Контейнер для других важных данных (не отображается) -->

<head>
    <!-- Кодировка старницы -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Настройка адаптивности страницы -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок страницы в бразузере -->
    <title>MKL WORLD | <%= title %></title>
	<link rel="stylesheet" href="/zeroing.css"> <!-- ~ Подключение CSS обнуления -->
    <link rel="stylesheet" href="/scroll-bar.css"> <!-- ~ Подключение CSS скролбара -->
    <link rel="stylesheet" href="/header.css"> <!-- ~ Подключение CSS шапка -->
	<link rel="stylesheet" href="/discussions.css"> <!-- ~ Подключение CSS -->
	<link rel="stylesheet" href="/footer.css"> <!-- ~ Подключение CSS подвал -->
    <!-- Подключение шрифтов через google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
	<link rel="icon" href="/logo.ico">
</head>
<!-- Отображаемое тело страницы -->

<body>
    <div class="wrapper">
        <!-- Кнопка наверх -->
        <div class="button__up">
            <a href="#">
                <img src="/up-arrow.png" width="30" height="30" alt="Кнопка наверх">
            </a>
        </div>
        <!-- Шапка сайта -->
		<%- include("header/header.ejs")  %>   <!--* Подключение шапки -->
		
        <main class="main">
            <!-- Секция линия навигации -->
            <section class="way__section">
                <div class="way__content">
                    <a href="/home" class="way__link">
                        Главная
                    </a>
                    <span> > </span>
                    <a href="/profile" class="way__link">
                        Тема обсуждений
                    </a>
                </div>
            </section>
            <!-- Секция обсуждений -->
            <section class="section discussins__section">
                <div class="discussins__topic">
                    <div class="discussins__name">
                        <h1>Тема обсуждения</h1>
                    </div>
                    <div class="discussins__content">
                        <div class="discussins__image">
                            <img src="/images/b-1.png" width="100" height="100" alt="Фото профиля">
                        </div>
                        <h1>Описание обсуждения</h1>
                        <p>Дата создания обсуждения</p>
                    </div>
                </div>
            </section>

        </main>

        <%- include("footer/footer.ejs")  %>   <!--* Подключение подвала -->
    </div>
</body>

</html>