<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="UTF-8"> <!-- ~ Кодировка страницы -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> <!-- ~ Адаптивность / Запрет масштабирования -->
		<!-- ~ <meta name="robots" content="none"> / Запрет индексации страницы -->
		<link rel="icon" href="logo.ico">
		<title>MKL World | <%= title %></title>
		<link rel="preconnect" href="https://fonts.googleapis.com"> <!-- ~ Ускорение загрузки шрифта -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> <!-- ~ Подключение шрифта -->
		<link rel="stylesheet" href="scroll-bar.css"> <!-- ~ Подключение CSS скролбара -->
		<link rel="stylesheet" href="error.css"> <!-- ~ Подключение CSS -->
	</head>

	<!-- !---------------------Тело страницы---------------------------->
	<body>
		<div class="container">
			<div class="content">
				<div class="text">
					<p>Такой страницы не существует...</p>

					<p class="text_big">404</p>

					<a href="/home" class="button">На главную</a>
				</div>
			</div>
		</div>
	</body>

</html>