<!-- Сообщаем браузеру, как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываю язык содержимого -->
<html lang="ru">
<!-- Контейнер для других важных данных (не отображается) -->

<head>
    <%- include("header/head.ejs") %>
        <link rel="stylesheet" href="/wiki.css"> <!-- ~ Подключение основных стилей -->
</head>
<!-- Отображаемое тело страницы -->

<body>
    <div class="wrapper">
        <!-- Кнопка наверх -->
        <div class="button__up">
            <a href="#">
                <img src="/up-arrow.png" width="30" height="30" alt="Кнопка наверх">
            </a>
        </div>
        <!-- Шапка сайта -->
        <%- include("header/header.ejs") %>
            <!--* Подключение шапки -->

            <!-- Секция линия навигации -->
            <%- include("header/way.ejs") %>
                <!--* Подключение пути -->
                <main class="main">
                    <section class="wiki__section">
                        <div class="wiki__content container">
                            <nav class="wiki__nav nav">
                                <div class="nav__content">
                                    <div class="wiki__members">
                                        <button onclick="myFunction()" class="wiki__button">Участники</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <p id="">Ким Намджун</p>
                                            <p id="">Ким Сокджин</p>
                                            <p id="">Мин Юнги</p>
                                            <p id="">Чон Хосок</p>
                                            <p id="">Пак Чимин</p>
                                            <p id="">Ким Тэхён</p>
                                            <p id="">Чон Чонгук</p>
                                        </div>
                                    </div>
                                    <div id="history" class="nav__item active">История</div>
                                    <div id="discography" class="nav__item">Дискография</div>
                                    <div id="awards" class="nav__item">Награды</div>
                                    <div id="social_network" class="nav__item">Социальные сети</div>
                            </nav>
                        </div>
                        <div class="wiki__history">
                        </div>

                    </section>
                </main>

                <%- include("footer/footer.ejs") %>
                    <!--* Подключение подвала -->
    </div>

    <script src="/wiki.js"></script>
</body>

</html>