<!-- Сообщаем браузеру, как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываю язык содержимого -->
<html lang="ru">
<!-- Контейнер для других важных данных (не отображается) -->

<head>
    <%- include("header/head.ejs") %>
        <link rel="stylesheet" href="/wiki.css"> <!-- ~ Подключение основных стилей -->
</head>
<!-- Отображаемое тело страницы -->

<body>
    <div class="wrapper">
        <!-- Кнопка наверх -->
        <div class="button__up">
            <a href="#">
                <img src="/up-arrow.png" width="30" height="30" alt="Кнопка наверх">
            </a>
        </div>
        <!-- Шапка сайта -->
        <%- include("header/header.ejs") %>
            <!--* Подключение шапки -->

            <!-- Секция линия навигации -->
            <%- include("header/way.ejs") %>
                <!--* Подключение пути -->
                <main class="main">
                    <section class="wiki__section">
                        <div class="wiki__content container">
                            <nav class="wiki__nav nav">
                                <div class="nav__content">
                                    <div class="wiki__members">
                                        <button onclick="myFunction()" class="wiki__button">Участники</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <p id="">Ким Намджун</p>
                                            <p id="">Ким Сокджин</p>
                                            <p id="">Мин Юнги</p>
                                            <p id="">Чон Хосок</p>
                                            <p id="">Пак Чимин</p>
                                            <p id="">Ким Тэхён</p>
                                            <p id="">Чон Чонгук</p>
                                        </div>
                                    </div>
                                    <div id="history" class="nav__item active">История</div>
                                    <div id="discography" class="nav__item">Дискография</div>
                                    <div id="awards" class="nav__item">Награды</div>
                                    <div id="social_network" class="nav__item">Социальные сети</div>
                            </nav>
                        </div>
                        <div class="wiki__history">
                            1,2,3, bangtan! Приветствуем, с вами BTS!
                            <br>
                            <br>
                            В 2013 году Южная Корея, а следом и весь мир танцуют под абсолютный хит Gangnam Style.
                            <br>
                            <br>
                            Никому не известные парни появляются на пороге крошечного музыкального агентства. Дверь
                            ведет в гараж,<br>
                            где на манер офиса расставлены рабочие столы. Чтобы записать демку, надо спуститься в
                            подвал, кое-как переоборудованный в звукозаписывающую студию. Маленькое помещение, в котором
                            живут большие мечты.
                            <br>
                            <br>
                             <img src="" alt="Фото гаража"> <!-- сделать галерею из 3 фото -->
                            <br>
                            <br>
                            Бан Ши Хёк — владелец и создатель компании BigHit entertainment, имел конкретное
                            представление о назначении будущей группы. Название БТС расшифровывается с корейского
                            как<br>
                            BangTan Sonyeondan (Бантан Cонендан) или Bangtan Boys.
                            <br>
                            <br>
                            На корейском: 방탄소년단, что переводится на русский как Пуленепробиваемые парни.
                            <br>
                            <br>
                            На английском:
                            <br>
                            Изначально на английский название BangTan Sonyeondan расшифровывалось как Bulletproof Boy
                            Scouts (Пуленепробиваемые бойскауты).
                            <br>
                            <br>
                            <cite>
                                Бойскауты – это американские подростковые отряды разведчиков, в которых дети обучались
                                выживанию в лесу,<br> оказанию первой помощи, гражданским правам и обязанностям.
                            </cite>
                            <br>
                            <br>
                            На русском:
                            <br>
                            В русском языке фанаты называют группу не только БТС, но и Бантаны, Бантан бойс, Битиэс или
                            даже Бантосы.
                            <br>
                            <br>
                            На японском:
                            <br>
                            防弾少年団 или Бодан сёнэндан.
                            <br>
                            <br>
                            На китайском:
                            <br>
                            防彈少年團 или Фандань шаоняньтуань.

                        </div>

                    </section>
                </main>

                <%- include("footer/footer.ejs") %>
                    <!--* Подключение подвала -->
    </div>

    <script src="/wiki.js"></script>
</body>

</html>