<footer class="footer">
	<div class="footer__content container">
		<p class="copy">
			© Copyright 2022 MKL WORLD
		</p>

		<nav class="footer__nav">
			<p class="footer__text">
				Мы в социальных сетях
			</p>

			<div class="footer__social social">   <!-- ^ Иконки соц. сетей -->
				<a href="https://vk.com" target="_blank" class="social__item">
					<img src="./icon/vk.png" alt="vk">
				</a>
				<a  href="https://telegram.org" target="_blank" class="social__item">
					<img src="./icon/telegram.png" alt="telegram">
				</a>
				<a href="https://youtube.com" target="_blank" class="social__item">
					<img src="./icon/youtube.png" alt="youtube">
				</a>
			</div>
		</nav>

		<a href="/admin" class="footer__button button">   <!-- ^ Кнопка перехода в админ-панель -->
			Админ-панель
		</a>
	</div>
</footer>