body {
    font-family: 'Noto Sans', sans-serif;

    line-height: 1.2;

    background-color: #F5E6CC;

    align-items: center;

    flex: 1 1 auto;
}

/* ---------------------- */

.main {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

/* ---- Форма регистрации ---- */
#d1 {
    display: flex;
}

.main__register {
    display: flex;
    flex-direction: column;

    background-color: #FFB48F;

    width: 300px;
    max-height: 800px;

    overflow: hidden;

    border-radius: 10px;

    padding: 30px;

    align-items: center;
}

.main__close {
    position: relative;
}

.main__close img {
    position: absolute;

    margin-top: -21px;
    margin-left: -141px;
}

.main__forms {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

/* Окно ввода логина */
.main__forms_login {
    position: relative;

    margin-top: 20px;
}

.login {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-login {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

.input-login:focus ~ .login,
.input-login:valid ~ .login {
    font-size: 15px;
    transform: translateY(-20px);
}

.main__forms_login:focus-within .login {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
}

/* Окно ввода почты */
.main__forms_mail {
    position: relative;

    margin-top: 20px;
}

.maiil {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-mail {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

.input-mail:focus ~ .maiil,
.input-mail:valid ~ .maiil {
    font-size: 15px;
    transform: translateY(-20px);
}

.main__forms_mail:focus-within .maiil {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
}

/* Окно ввода пароля и его подтверждение */
.main__forms_password {
    position: relative;

    margin-top: 20px;
}

.pass {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-password {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

.input-password:focus ~ .pass,
.input-password:valid ~ .paas {
    font-size: 15px;
    transform: translateY(-20px);
}

.main__forms_password:focus-within .pass {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
}

/* ---- Форма "вход" ---- */
#d2 {
    display: none;
}

.main__entrance {
    display: none;

    flex-direction: column;

    background-color: #FFB48F;

    width: 300px;
    max-height: 800px;

    overflow: hidden;

    border-radius: 10px;

    padding: 30px;

    align-items: center;
}

.main__arrow {
    position: relative;
}

.main__arrow img {
    position: absolute;

    margin-top: -21px;
    margin-left: -141px;
}

.main__forms {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

/* Окно ввода логина */
.main__forms_login {
    position: relative;

    margin-top: 20px;
}

.login {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-login {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

/* 
.input-login:focus ~ .login,
.input-login:valid ~ .login {
    font-size: 15px;
    transform: translateY(-20px);
} 

.main__forms_login:focus-within .login {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
}
*/

input:invalid:not(:focus):not(:placeholder-shown) {
	background-color: rgba(231, 6, 6, 0.623);
}
input:invalid:not(:focus):not(:placeholder-shown) ~ label {
	font-size: 15px;
    transform: translateY(-20px);
}

input:invalid:focus:not(:placeholder-shown) {
	background-color: rgba(231, 6, 6, 0.623);
}
input:invalid:focus:not(:placeholder-shown) ~ label {
	font-size: 15px;
    transform: translateY(-20px);
}

input:valid:focus:not(:placeholder-shown),
input:valid:not(:focus):not(:placeholder-shown){
	background-color: rgba(6, 139, 6, 0.5);
}
input:valid:focus:not(:placeholder-shown) ~ label,
input:valid:not(:focus):not(:placeholder-shown) ~ label {
	font-size: 15px;
    transform: translateY(-20px);
}

/* Окно ввода пароля и его подтверждение */
.main__forms_password {
    position: relative;

    margin-top: 20px;
}

.pass {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-password {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

/* 
.input-password:focus ~ .pass,
.input-password:valid ~ .pass {
    font-size: 15px;
    transform: translateY(-20px);
}

.main__forms_password:focus-within .pass {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
} 
*/

.main__recovery_pass {
    padding-left: 10px;
}

/* ---- Форма "восстановление пароля" ---- */
#d3 {
    display: none;
}

.main__recovery {
    display: none;

    flex-direction: column;

    background-color: #FFB48F;

    width: 300px;
    max-height: 800px;

    overflow: hidden;

    border-radius: 10px;

    padding: 30px;

    align-items: center;
}

.main__arrow {
    position: relative;
}

.main__arrow img {
    position: absolute;

    margin-top: -21px;
    margin-left: -141px;
}

.main__forms {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

/* Окно ввода почты */
.main__forms_mail {
    position: relative;

    margin-top: 20px;
}

.maiil {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(10px, 10px);
    transition: transform .25s;
    transform-origin: left;

    pointer-events: none;

    font-size: 15px;
}

.input-mail {
    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

/* 
.input-mail:focus ~ .maiil,
.input-mail:not(:placeholder-shown) ~ .maiil,
.input-mail:valid ~ .maiil {
    font-size: 15px;
    transform: translateY(-20px);
}

.main__forms_mail:focus-within .maiil {
    transform: translate(0, -20px) scale(.8);

    color: #000;
    font-size: 15px;
} 
*/

/* ---- Кнопка для всех 3 форм ---- */
.button {
    margin-top: 20px;

    background-color: #A64AC9;
    color: #fff;
    font-size: 15px;

    border-radius: 10px;
    border: none;
	
    width: 220px;
}

.button:hover {
    background-color: #682184;
}

.button:active {
    box-shadow: 2px 2px 2px #000;
}

/* ---- Ссылка ---- */
.hint {
    margin-top: 10px;

    font-size: 10px;
    text-decoration: none;
    color: #2862F7;
    border-bottom: 1px dashed #2862F7;
}

/* ---- Label-заголовки ---- */
.label {
    text-align: center;

    font-size: 20px;

    text-decoration: none;
    border-bottom: 1px solid #999999;
    width: 220px;
}