body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;

    background-color: #F5E6CC;
}

a {
    color: #000;
}

.main {
	flex: 1 1 auto;

	position: relative;
}

/* --------------------- */

.wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100%;
}

/* ---- Шапка ---- */

/* ---- Секция с обсуждениями ---- */
.discussions__section {
    font-family: 'Noto Sans', sans-serif;

    font-size: 16px;

    flex: 1 1 auto;
    display: inline-table;
    flex-direction: column;

    overflow: hidden;
}

.discussions__topic {
    overflow: hidden;

    padding: 30px;
}

.discussions__topic:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 2px #17E9E0);
    filter: drop-shadow(3px 3px 2px #17E9E0);

    z-index: 1;
}

.discussions__name {
    background-color: rgb(255, 180, 143);

    border-radius: 10px 10px 0 0;
    padding: 15px;

    overflow: hidden;

    text-decoration: none;

    display: block;
}

.discussions__name a:hover {
    color: #fff;
}

.discussions__content {
    background-color: rgb(166, 74, 201, 0.5);

    min-height: 120px;
    border-radius: 0 0 10px 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

@media (max-width: 900px) {
    .discussions__section {
        margin: 0;
    }

    .discussions__description {
        min-width: 90px;
        align-items: center;
    }

    .discussions__date {
        min-width: 90px;
        align-items: center;
    }

    .discussions__image img {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 850px) {
    .discussions__section {
        margin: 0;
    }

    .discussions__description {
        font-size: 12px;

        min-width: 85px;
        align-items: center;
    }

    .discussions__date {
        font-size: 10px;

        min-width: 85px;
        align-items: center;
    }

    .discussions__image img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 700px) {
    .discussions__section {
        display: block;
    }

    .discussions__topic {
        min-width: 100px;
    }

    .discussions__description {
        font-size: 10px;

        min-width: 80px;
        align-items: center;
    }

    .discussions__date {
        font-size: 8px;

        min-width: 80px;
        align-items: center;
    }
}

@media (max-width: 670px) {
    .discussions__description {
        font-size: 10px;

        align-items: center;
        min-width: 75px;
    }

    .discussions__date {
        font-size: 8px;

        align-items: center;
        min-width: 75px;
    }

    .discussions__image img {
        width: 70px;
        height: 70px;
    }

}

@media (max-width: 550px) {
    .discussions__description {
        font-size: 8px;

        align-items: center;
        min-width: 70px;
    }

    .discussions__date {
        font-size: 6px;

        align-items: center;
        min-width: 70px;
    }

    .discussions__image img {
        width: 60px;
        height: 60px;
    }

}

/* ---- Подвал ---- */

/* ---- Кнопка наверх ---- */
.button__up {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 30px;
    height: 30px;

    background-color: #FCDC55;
    border-radius: 50%;

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    transition: 0.3s linear;

    z-index: 1;
}

.button__up:hover {
    color: #fff;

    background-color: #FCCD04;

    opacity: 1;

    cursor: pointer;
}

.button__up a p {
    padding: 30px 5px;

}