body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;

    background-color: #F5E6CC;
}

a {
    color: #000;
}

.main {
	flex: 1 1 auto;

	position: relative;
}

/* --------------------- */

.wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100%;
}

/* ---- Шапка ---- */

/* ---- Секция с обсуждениями ---- */
.discussions__section {
    font-family: 'Noto Sans', sans-serif;

    font-size: 16px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    align-items: center;
}

.discussions__topic {
    overflow: hidden;

    padding: 30px;
}

.discussions__header {
    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 180, 143);

    border-radius: 10px 10px 0 0;
    padding: 15px;

    overflow: hidden;
}

.discussions__name {
    display: block;
}

.discussions__status {
    font-size: 10px;

    display: block;
}

.discussions__image {

    border-right: 1px solid #A64AC9;
}

.discussions__image img {
    margin-left: 20px;
    margin-right: 35px;
}

.discussions__nikname {
    font-size: 12px;
}

.discussions__content {
    background-color: rgb(166, 74, 201, 0.5);

    min-height: 120px;
    min-width: 1200px;
    
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.discussions__date {
    font-size: 10px;

    align-self: start;
}

/* @media (max-width: 900px) {
    .discussions__section {
        margin: 0;
    }

    .discussions__description {
        min-width: 90px;
        align-items: center;
    }

    .discussions__date {
        min-width: 90px;
        align-items: center;
    }

    .discussions__image img {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 850px) {
    .discussions__section {
        margin: 0;
    }

    .discussions__description {
        font-size: 12px;

        min-width: 85px;
        align-items: center;
    }

    .discussions__date {
        font-size: 10px;

        min-width: 85px;
        align-items: center;
    }

    .discussions__image img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 700px) {
    .discussions__section {
        display: block;
    }

    .discussions__topic {
        min-width: 100px;
    }

    .discussions__description {
        font-size: 10px;

        min-width: 80px;
        align-items: center;
    }

    .discussions__date {
        font-size: 8px;

        min-width: 80px;
        align-items: center;
    }
}

@media (max-width: 670px) {
    .discussions__description {
        font-size: 10px;

        align-items: center;
        min-width: 75px;
    }

    .discussions__date {
        font-size: 8px;

        align-items: center;
        min-width: 75px;
    }

    .discussions__image img {
        width: 70px;
        height: 70px;
    }

}

@media (max-width: 550px) {
    .discussions__description {
        font-size: 8px;

        align-items: center;
        min-width: 70px;
    }

    .discussions__date {
        font-size: 6px;

        align-items: center;
        min-width: 70px;
    }

    .discussions__image img {
        width: 60px;
        height: 60px;
    }

} */

/* ---- Комментарии ---- */
.discussions__head {
    display: flex;
    justify-content: space-between;

    background-color: #17E9E0;

    padding: 10px;

    overflow: hidden;
}

.discussions__title {
    padding-left: 10px;
}

.discussions__time {
    font-size: 10px;
}

.discussions__name {
    display: block;
}

.discussions__status {
    font-size: 10px;

    display: block;
}

.discussions__images {
    border-right: 1px solid #14B5AE;
}

.discussions__images img {
    margin-left: 20px;
    margin-right: 35px;
}

.discussions__nikname {
    font-size: 12px;
}

.discussions__contentt {
    background-color: rgb(23, 233, 224, 0.5);

    min-height: 120px;
    min-width: 1200px;
    
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.discussions__comment {
    margin-right: 30px;
}

.discussions__conttent {
    background-color: rgb(23, 233, 224, 0.5);

    min-height: 120px;
    min-width: 1200px;
    border-radius: 0 0 10px 10px;
    
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

/* ---- Форма ответа ---- */
.answer__section {
    font-family: 'Noto Sans', sans-serif;

    font-size: 16px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    align-items: center;
}

.answer__window {
    overflow: hidden;

    padding: 30px;
}

.answer__comment {
    display: flex;
    justify-content: space-between;

    background-color: rgb(255, 180, 143);

    padding: 15px;

    overflow: hidden;
}

.answer__forms {
    background-color: rgb(166, 74, 201, 0.5);

    min-height: 120px;
    min-width: 1200px;
    
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.answer__input {
    min-height: 120px;
    min-width: 1050px;

    padding: 10px;

    border: none;
    border-radius: 10px;

    font: inherit;
    font-size: 15px;
    color: #000;

    background-color: #F5E6CC;
}

.answer__input:active {
    border: none;
}

/* ---- Кнопка ---- */
.answer__button {
    margin-top: 20px;

    background-color: #A64AC9;
    color: #fff;
    font-size: 15px;

    border-radius: 5px;
    border: none;

    height: 30px;
    width: 90px;

    align-items: center;
}

.answer__button:hover {
    background-color: #682184;
}

.answer__button:active {
    box-shadow: 2px 2px 2px #000;
}

/* ---- Статус обсуждения ---- */
.status__discussions {
    font-family: 'Noto Sans', sans-serif;

    font-size: 16px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    align-items: center;
}

.status__discussions h1 {
    border-radius: 10px;

    background-color: #17E9E0;

    min-width: 200px;
    margin-bottom: 30px;
    
    text-align: center;
}

/* ---- Подвал ---- */

/* ---- Кнопка наверх ---- */
.button__up {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 30px;
    height: 30px;

    background-color: #FCDC55;
    border-radius: 50%;

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    transition: 0.3s linear;

    z-index: 1;
}

.button__up:hover {
    color: #fff;

    background-color: #FCCD04;

    opacity: 1;

    cursor: pointer;
}

.button__up a p {
    padding: 30px 5px;

}