/* ---- Обнуление страницы ---- */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* -------------------- */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;

    background-color: #F5E6CC;
}

a {
    color: #000;
}

.main {
	flex: 1 1 auto;

	position: relative;
}

/* --------------------- */

.wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.conteiner {
    margin: 0 auto;

    padding: 0 10px;
    max-width: 1780px;

    overflow: hidden;
}

/* ---- Шапка ---- */

/* ---- Секция линия навигации ---- */
.way__section {
	padding: 25px 40px;

	background-color: rgba(252, 205, 4, 0.5);

    display: flex;
}

.way__link {
	transition: 0.2s linear;
}
.way__link:hover {
	font-weight: 500;
}

/* ---- Секция с обсуждениями ---- */
.discussins__section {
    font-family: 'Noto Sans', sans-serif;

    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}

.discussins__sorting {
    padding: 10px;
}

.discussins__topic {
    background-color: #DC87FC;

    min-height: 100%;

    overflow: hidden;

    padding: 30px;
}

.discussins__name {
    background-color: #FFB48F;

    border-radius: 10px 10px 0 0;
    padding: 15px;

    overflow: hidden;
}

.discussins__content {
    background-color: #A64AC9;

    min-height: 120px;
    border-radius: 0 0 10px 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.discussins__topic2 {
    background-color: #FBDC5B;

    min-height: 100%;

    overflow: hidden;

    padding: 30px;
}

.discussins__name2 {
    background-color: #FFB48F;

    border-radius: 10px 10px 0 0;
    padding: 15px;

    overflow: hidden;
}

.discussins__content2 {
    background-color: #A64AC9;

    min-height: 120px;
    border-radius: 0 0 10px 10px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

/* ---- Подвал ---- */

/* ---- Кнопка наверх ---- */
.button__up {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 30px;
    height: 30px;

    background-color: #FCDC55;
    border-radius: 50%;

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    transition: 0.3s linear;

    z-index: 1;
}

.button__up:hover {
    color: #fff;

    background-color: #FCCD04;

    opacity: 1;

    cursor: pointer;
}

.button__up a p {
    padding: 30px 5px;

}