.wrapper {   /* * Оболочка всей страницы */
	overflow: hidden;

	min-height: 100%;

	display: flex;
	flex-direction: column;

	background-color: rgba(245, 230, 204, 1);
}

/* !----------------Технические классы----------------------- */

/*!------------------------------------------------------------*/
.content {
	text-align: center;

	padding: 40px 0;
}

.text {
	font-size: 64px;
	line-height: 1.2;
}
.text > *:not(:last-child) {
	margin-bottom: 50px;
}

.text_big {
	font-size: 200px;
	font-weight: 700;
}

.button {
	font-size: 36px;

	padding: 15px 25px;

	background-color: #A64AC9;

	border-radius: 10px;

	transition: 0.2s linear;
}
.button:hover {
	cursor: pointer;

	background-color: #9945bb;
	box-shadow: 4px 4px 5px #9945bb;
}

@media (max-width: 1100px) {
	.text {
		font-size: 48px;
	}

	.text_big {
		font-size: 160px;
	}

	.button {
		font-size: 30px;
	
		padding: 10px 15px;
	}
}
@media (max-width: 850px) {
	.text {
		font-size: 36px;
	}

	.text_big {
		font-size: 120px;
	}

	.button {
		font-size: 24px;
	
		padding: 5px 10px;
	}
}
@media (max-width: 450px) {
	.text {
		font-size: 28px;
	}
}