/* !--------------Общие классы-------------- */
.info {
}
.info > *:not(:last-child) {
	margin-bottom: 25px;
}

/* !----------------------------------------- */

.header {
	min-height: 100px;

	padding: 5px 0;

	background-color: rgba(166, 74, 201, 0.65);;

	display: flex;
	align-items: center;
}

.header__content {
	width: 100%;

	display: grid;
	grid-template: 100px / 1fr auto 1fr;
	align-items: center;

	gap: 0 10px;
}

.header__logo {
	display: inline-block;

	overflow: hidden;

	width: 90px;
	height: 57px;

	transition: 0.2s linear;
}
.header__logo:hover {
	padding-left: 5px;
}
.header__logo img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.header__title {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;

	transition: 0.2s linear;
}
.header__title:hover {
	letter-spacing: 4px;
}

.header__nav {
    list-style-type: none;

    flex: 1 1 0;

    justify-content: center;
}

.header__nav a {
    padding-right: 60px;

    transition: 0.2s linear;

    font-size: 20px;
}

.header__nav a:hover {
    color: #fff;
}

.header__nav {
    display: flex;
}

.header__nav>*:last-child {
    padding-right: 0px;
}

.header__profile {   /* Значок человечка */
	display: block;

	justify-self: end;

	width: 36px;
	height: 36px;
}
.header__profile:hover {
	cursor: pointer;
}
.header__profile img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

@media (max-width: 700px) {
	.header__content {
		display: block;
		text-align: center;
	}

	.header__content > *:not(:last-child) {
		margin-bottom: 40px;
	}

	.header__title {
		font-size: 36px;
	}
}