/* Обнуление страницы */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/*~--------------------*/

* {
    background-color: #F5E6CC;
}

.wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #A64AC9;
    height: 160px;

    display: flex;

	align-items: center;
    justify-content: space-around;
}

.header__logo img {
    max-width: 50px;
    max-height: 50px;
}

.header__account img {
    max-width: 50px;
    max-height: 50px;
}

/* .button__up {
    position: fixed;
    bottom: 40px;
    right: 40px;

    width: 90px;
    height: 90px;

    background-color: rgb(154, 170, 243);
    border-radius: 50%;

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    transition: 0.3s linear;
}

.button__up:hover {
    color: #fff;

    background-color: rgb(19, 67, 226);

    opacity: 1;

    cursor: pointer;
} */

.footer {
    background-color: #A64AC9;
    height: 160px;

    display: flex;

	align-items: center;
    justify-content: space-around;
}

.footer__logo img {
    max-width: 50px;
    max-height: 50px;
}

.button__up a p {
    padding: 30px 5px;
}