.wrapper {   /* * Оболочка всей страницы */
	overflow: hidden;

	min-height: 100%;

	display: flex;
	flex-direction: column;

	background-color: rgba(245, 230, 204, 1);
}

/* !----------------Технические классы----------------------- */


/* !----------------------------------------- */
section {
}

.profile__section {
	padding: 50px 0;
}

/* !---------------------------------------- */
.profile {
	display: flex;
	flex-wrap: wrap;
}
.profile > *:nth-child(2){
	flex: 0 0 33%;
}

@media (max-width: 1100px) {
	.profile > *:nth-child(2){
		flex: 0 0 300px;
	}
}

/* !--------------------------- */
.header__profile {
	display: none;
}

/* !-----------Шапка-----------*/


/* !----------Основа----------*/
.main {
	flex: 1 1 auto;

	position: relative;
}

/* !----------Навигация страницы--------- */


/* !----------Профиль--------------- */

.profile__content {
}

.profile__nav {
	margin-bottom: 30px;
}

.nav__content {
	display: flex;
}

.nav__item {
	flex: 1 1 25%;

	padding: 15px 0;

	text-align: center;
	font-size: 30px;

	background-color: rgba(255, 180, 143, 1);

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.nav__item:hover {
	background-color: rgb(248, 166, 126);

	cursor: pointer;
}
.nav__item.active {
	background-color: #E4A281;
}
.nav__item.active:hover {
	background-color: #E4A281;
}


.profile__login {
	flex: 1 1 25%;

	padding: 15px 0;

	text-align: center;
	font-size: 30px;

	background-color: rgba(255, 180, 143, 0.5);

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */
}

@media (max-width: 1260px) {
	.nav__content {
		display: flex;
		flex-direction: column;
	}
	.nav__item {
		flex: 1 1 100%;
		border-radius: 0;
	}
}
@media (max-width: 700px) {
	.profile__section {
		font-size: 16px;
	}
}

/* !------Основная область профиля 'Информация'-------- */
.profile__info {
	display: none;
}
.profile__info.active {
	display: flex;
}


.profile__img {
	width: 300px;
	height: 300px;

	border-radius: 10px;

	box-shadow: 2px 2px 10px #000;

	border: 2px solid #000;

	margin: 0 0 20px 0;

	overflow: hidden;

	transition: 0.2s linear;
}
.profile__img:hover {
	box-shadow: 6px 6px 8px #000;

	cursor: pointer;
}
.profile__img img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.big__block.active {
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.801);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 50;
}
.big__block.active img {
	z-index: 100;
}

.profile__info-user {
	margin: 0 20px 35px 40px;
}

.info__row {
}
.info__row > span:first-child {
	margin-right: 10px;
	font-weight: 600;
}

.info__row_ta {
	display: flex;
	flex-direction: column;
}

.info__item {
}

.info__item-status {
	font-weight: 300;
	font-style: italic;

	margin-top: 10px;
}

.profile__info-reg {
}

@media (max-width: 700px) {
	.profile__img {
		margin: 0 auto 20px auto;
	}
	.profile__info-user {
		margin: 0 0 35px 0;
	}
}

/* !----Основная область профиля 'Обсуждения'----- */
.profile__discussions {
	display: none;
}
.profile__discussions > *:nth-child(2) {
	flex: 1 1 auto;
}

.profile__discussions.active {
	display: flex;
}

.discussions__column {
	display: flex;
	flex-direction: column;

	margin-left: 40px;
}

.discussions__item {
	min-height: 200px;
	margin: 15px 0;

	background-color: rgba(166, 74, 201, 0.5);
	box-shadow: 5px 5px 10px rgba(166, 74, 201, 1);

	border: 3px dashed transparent;

	border-radius: 20px;

	overflow: hidden;

	text-align: center;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.discussions__item:hover {
	box-shadow: 8px 8px 8px rgba(166, 74, 201, 1);

	border: 3px dashed rgba(166, 74, 201, 0.9);

	cursor: pointer;
}

.discussions__header {
	background-color: rgba(255, 180, 143, 0.5);

	padding: 20px 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.discussions__name {
	margin-right: 20px;
}

.discussions__date {
	font-size: 14px;
}

.discussions__description {
	font-size: 40px;

	min-height: 120px;

	padding: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 850px) {
	.discussions__column {
		margin: 0;
	}
}
@media (max-width: 700px) {
	.profile__discussions.active {
		display: block;
	}

	.discussions__header {
		padding: 10px 20px;
		flex-direction: column;
		justify-content: center;
	}

	.discussions__item {
		min-height: 100px;
	}

	.discussions__name {
		margin: 0 0 10px 0;
	}

	.discussions__description {
		font-size: 30px;

		min-height: 80px;
	}
}

/* !----Основная область профиля 'Редактирование'--- */
.profile__edit{
	display: none;
	
	padding-bottom: 50px;
}
.profile__edit.active {
	display: flex;
}

#filedata {   /* ^ Отключаю инпут */
	display: none;
}

.profile__left {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.profile__left > * {
	margin-bottom: 30px;
}

.edit__text {
	font-size: 14px;
	color: #2862F7;
	font-weight: 600;

	border-bottom: 2px dashed;

	transition: 0.2s linear;
}
.edit__text:hover {
	color: #A64AC9;

	cursor: pointer;
}

.info__value.active {
	display: inline-block;
}
.info__value {
	display: none;
}

.user__input {
	display: none;
}
.user__input.active {
	display: inline-block;

	min-height: 25px;
	font-size: 16px;
	font-weight: 500;

	padding: 6px 10px 6px 20px;

	border: 2px solid #E4A281;

	border-radius: 5px;

	transition: 0.2s linear;
}
.user__input:hover {
	border: 2px solid #A64AC9;
}
.user__input:focus{
	box-shadow: 4px 4px 8px #A64AC9;
}

.user__comment {
	height: 120px;
	width: 100%;

	resize: none;
}

.edit__user-info {
	display: none;
}
.edit__user-info.active {
	display: block;
}

.edit__complete {
	display: none;
}
.edit__complete.active {
	display: block;

	margin-top: 40px;

	text-align: center;

	width: 150px;

	padding: 5px 10px;

	background-color: #A64AC9;

	border-radius: 10px;

	transition: 0.2s linear;
}
.edit__complete:hover {
	cursor: pointer;

	background-color: #9c28ca;
}

.edit__delete {
	width: 100%;

	font-size: 24px;
	font-weight: 600;
	color: #850b0b;

	text-align: center;

	position: absolute;
	bottom: 30px;
	left: 0;

	transition: 0.2s linear;
}
.edit__delete:hover {
	color: #FF0000;

	cursor: pointer;
}

/* !---------Окно подтверждения удаления аккаунта---------- */
.popap {
	display: none;
	
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 100;

	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.85);
}
.popap.active {
	display: flex;
}

.profile__warning {
	height: 30%;
	width: 50%;

	padding: 20px 30px;

	z-index: 110;

	border-radius: 15px;

	color: #fff;
	text-align: center;

	background-color: #A64AC9;
}
.profile__warning.active {
	display: block;
}

.warning__body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	height: 100%;

	position: relative;
}

.warning__close {
	width: 35px;
	height: 35px;

	position: absolute;
	top: -5px;
	left: -5px;

	transition: 0.2s linear;
}
.warning__close:hover {
	width: 40px;
	height: 40px;
	
	cursor: pointer;
}
.warning__close::after,.warning__close::before {
	content: "";

	position: absolute;
	top: 16px;
	left: 0;

	width: 100%;
	height: 2px;

	background-color: #fff;
}
.warning__close::after {
	transform: rotate(45deg);
}
.warning__close::before {
	transform: rotate(135deg);
}

.warning__title {
	font-size: 36px;
}
.warning__title > *:not(:last-child) {
	margin-bottom: 10px;
}

.warning__answer {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;

	text-align: center;
	line-height: 40px;
}
.warning__answer span {
	width: 40%;
	min-height: 40px;

	padding: 5px 10px;

	border-radius: 5px;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.warning__answer span:hover {
	cursor: pointer;
}
.warning__answer span:first-child {
	background-color: #850b0b;
}
.warning__answer span:first-child:hover {
	background-color: #c20d0d;
}
.warning__answer span:last-child {
	background-color: #86C232;
}
.warning__answer span:last-child:hover {
	background-color: #93e027;
}

@media (max-width: 1200px) {
	.warning__title {
		font-size: 26px;
	}
}
@media (max-width: 700px) {
	.profile__warning {
		width: 90%;
	}

	.profile__left {
		margin: 0 auto;
	}

	.edit__delete {
		font-size: 20px;
	}
}
/* !---------Подвал-----------*/
