/* ~-------Zeroing---------------------------------------------------------------*/
*,*:before,*:after {   /* *Обнуление всех отступов */
	padding: 0;
	margin: 0;
	border: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a,a:visited,a:hover {
	text-decoration: none;
	color: #000;
}

nav,footer,header,aside {
	display: block;
}

html,body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;   /* *Плавная прокрутка по якорям */
}

input,button,textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ~-----------------------------------------------------------------------------*/

.wrapper {   /* * Оболочка всей страницы */
	overflow: hidden;

	min-height: 100%;

	display: flex;
	flex-direction: column;

	background-color: rgba(245, 230, 204, 1);;
}

/* !----------------Технические классы----------------------- */

.container {   /* * Ограничивающий контейнер */
	max-width: 1820px;

	padding: 0 10px;
	margin: 0 auto;

	overflow: hidden;
}

/* !----------------------------------------- */
section {
}

.profile__section {
	padding: 50px 0;
}

/* !--------------Общие классы-------------- */
.button {
	display: inline-block;

	min-width: 120px;
	height: 45px;

	padding: 5px 10px;

	background-color: #17E9E0;

	border-radius: 12px;

	font-size: 17px;
	line-height: 35px;
	text-align: center;
}
.button:hover {
	cursor: pointer;
}

.profile {
	display: flex;
	flex-wrap: wrap;
}

.info {
}
.info > *:not(:last-child) {
	margin-bottom: 25px;
}

/* !---------------------------------------- */

/* !-----------Шапка-----------*/
.header {
	min-height: 100px;

	padding: 5px 0;

	background-color: rgba(166, 74, 201, 0.65);;

	display: flex;
	align-items: center;
}

.header__content {
	width: 100%;

	display: grid;
	grid-template: 100px / 1fr auto 1fr;
	align-items: center;

	gap: 0 10px;
}

.header__logo {
	display: inline-block;

	overflow: hidden;

	width: 90px;
	height: 57px;

	transition: 0.2s linear;
}
.header__logo:hover {
	padding-left: 5px;
}
.header__logo img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.header__title {
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;

	transition: 0.2s linear;
}
.header__title:hover {
	letter-spacing: 4px;
}

.header__profile {
	display: none;

	justify-self: end;

	width: 36px;
	height: 36px;
}
.header__profile:hover {
	cursor: pointer;
}
.header__profile img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

@media (max-width: 600px) {
	.header__content {
		display: block;
		text-align: center;
	}

	.header__content > *:not(:last-child) {
		margin-bottom: 40px;
	}

	.header__title {
		font-size: 36px;
	}
}

/* !----------Основа----------*/
.main {
	flex: 1 1 auto
}

/* !----------Навигация страницы--------- */
.way__section {
	padding: 25px 40px;

	background-color: rgba(252, 205, 4, 0.5);
}

.way__content {
}

.way__link {
	transition: 0.2s linear;
}
.way__link:hover {
	font-weight: 500;
}

/* !----------Профиль--------------- */

.profile__content {
}

.profile__nav {
	margin-bottom: 30px;
}

.nav__content {
	display: flex;
}

.nav__item {
	flex: 1 1 25%;

	padding: 15px 0;

	text-align: center;
	font-size: 30px;

	background-color: rgba(255, 180, 143, 1);

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.nav__item:hover {
	background-color: rgb(248, 166, 126);

	cursor: pointer;
}
.nav__item.active {
	background-color: #E4A281;
}
.nav__item.active:hover {
	background-color: #E4A281;
}


.profile__login {
	flex: 1 1 25%;

	padding: 15px 0;

	text-align: center;
	font-size: 30px;

	background-color: rgba(255, 180, 143, 0.5);

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */
}

@media (max-width: 1260px) {
	.nav__content {
		display: flex;
		flex-direction: column;
	}
	.nav__item {
		flex: 1 1 100%;
		border-radius: 0;
	}
}

/* !------Основная область профиля 'Информация'-------- */
.profile__info {
	display: none;
}
.profile__info.active {
	display: flex;
}


.profile__img {
	width: 300px;
	height: 300px;

	border-radius: 10px;

	box-shadow: 2px 2px 10px #000;

	border: 2px solid #000;

	margin: 0 40px 20px 0;

	overflow: hidden;

	transition: 0.2s linear;
}
.profile__img:hover {
	box-shadow: 6px 6px 8px #000;

	cursor: pointer;
}
.profile__img img {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: top;
}

.profile__info-user {
	margin: 0 20px 35px 0;
}

.info__row {
}
.info__row > span:first-child {
	margin-right: 10px;
}

.info__item {
}

.info__item-status {
	display: block;
	
	font-weight: 300;
	font-style: italic;

	margin-top: 10px;
}

.profile__info-reg {
}

@media (max-width: 600px) {
	.profile__img {
		margin: 0 0 20px 0;
	}
}

/* !----Основная область профиля 'Обсуждения'----- */
.profile__discussions {
	display: none;
}
.profile__discussions.active {
	display: flex;
}

.discussions__column {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.discussions__item {
	min-height: 200px;
	margin: 15px 0;

	background-color: rgba(166, 74, 201, 0.5);
	box-shadow: 5px 5px 10px rgba(166, 74, 201, 1);

	border: 3px dashed transparent;

	border-radius: 20px;

	overflow: hidden;

	text-align: center;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.discussions__item:hover {
	box-shadow: 8px 8px 8px rgba(166, 74, 201, 1);

	border: 3px dashed rgba(166, 74, 201, 0.9);

	cursor: pointer;
}

.discussions__header {
	background-color: rgba(255, 180, 143, 0.5);

	padding: 20px 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.discussions__name {
	margin-right: 20px;
}

.discussions__date {
	font-size: 14px;
}

.discussions__description {
	font-size: 40px;

	min-height: 65%;

	padding: 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.discussions__header {
		padding: 10px 20px;
		flex-direction: column;
		justify-content: center;
	}

	.discussions__name {
		margin: 0 0 10px 0;
	}

	.discussions__description {
		font-size: 28px;
	}
}

/* !----Основная область профиля 'Редактирование'--- */
.profile__edit{
	display: none;
}
.profile__edit.active {
	display: flex;
}

/* !---------Подвал-----------*/
.footer {
	background-color: #A64AC9;

	min-height: 100px;

	display: flex;
	align-items: center;
}

.footer__content {
	width: 100%;

	padding: 30px 10px;

	display: grid;
	grid-template: 100px / 1fr auto 1fr;
	align-items: center;

	gap: 0 10px;
}

.copy {

}

.footer__nav {
	text-align: center;
}

.footer__text {
	margin-bottom: 10px;
}

.footer__social {

}
.footer__social > *:not(:last-child) {
	margin-right: 40px;
}


.social__item {
	display: inline-block;

	width: 59px;
	height: 59px;

	opacity: 0.6;

	transition: 0.2s linear;
}
.social__item:hover {
	opacity: 1;
}
.social__item img {
	width: 100%;
	height: 100%;

	object-fit: cover;
}

.footer__button {
	display: none;

	justify-self: end;
}

@media (max-width: 600px) {
	.footer {
		font-size: 14px;
	}

	.footer__content {
		display: flex;
		flex-direction: column-reverse;
		justify-content: end;

		padding: 10px 5px;
	}
	.footer__content > *:not(:first-child) {
		margin-bottom: 40px;
	}

	.footer__social > *:not(:last-child) {
		margin-right: 10px;
	}

	.social__item {
		width: 36px;
		height: 36px;
	}
}
