body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;

    background-color: #F5E6CC;
}

a {
    color: #000;
}

.main {
	flex: 1 1 auto;

	position: relative;
}

/* --------------------- */

.wrapper {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100%;
}

/* ---- Шапка ---- */

/* ---- Навигация ---- */
.nav__item {
    flex: 1 1 auto;

	padding: 15px 0;

	text-align: center;
	font-size: 25px;

	background-color: #17E9E0;

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}

.nav__item:hover {
	background-color: #1dfff4;

	cursor: pointer;
}

.nav__item.active {
	background-color: #10A19B;
}

.nav__item.active:hover {
	background-color: #0c726f;
}

.wiki__section {
	padding: 50px 0;
}

.wiki {
	display: flex;
	flex-wrap: wrap;
}
.wiki > *:nth-child(2){
	flex: 0 0 33%;
}

.wiki__nav {
	margin-bottom: 30px;
}

.nav__content {
	display: flex;
}

.nav__item {
	flex: 1 1 auto;

	padding: 15px 0;

	text-align: center;
	font-size: 25px;

    width: 300px;

	background-color: #17E9E0;

	border-radius: 15px 15px 0 0;

	user-select: none;   /* * Отключение возможности выделения текста */

	transition: 0.2s linear;
}
.nav__item:hover {
	background-color: #1dfff4;

	cursor: pointer;
}
.nav__item.active {
	background-color: #10A19B;
}
.nav__item.active:hover {
	background-color: #0c726f;
}

/* ---- Выпадающий список ---- */
.wiki__button {
    width: 300px;
    height: 60px;

    object-fit: cover;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c726f;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 77px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #10A19B;
}

.show {
    display: block;
}

/* ---- Основной раздел ---- */
.wiki__history {
    display: none;
    justify-content: center;
    align-items: center;

    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;

    padding-left: 40px;
    padding-right: 40px;
}

.wiki__history.active {
	display: block;
}

/* ---- Цитата ---- */

blockquote {
    border: none;
    margin-bottom: -30px;
}

blockquote h3 {
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

blockquote h3:before {
    content: open-quote;
    font-weight: bold;
    font-size: 50px;
    color: #17E9E0;
    padding-right: 10px;
}

blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size: 50px;
    color: #17E9E0;
    padding-left: 10px;
}
/* ---- Выноска ---- */
cite {
    border-left: #17E9E0 solid 7px;
    margin-left: 60px;
    padding-left: 10px;
    display: block;
}

/* --------------- */
.wiki__history p {
    background-color: #FCCD04;
    display: inline;
}

.wiki__history h1 {
    display: block;

    background-color: #17E9E0;

    font-family: 'Noto Sans', sans-serif;
    font-size: px;
    font-weight: bold;

    padding-left: 15px;

    text-transform: uppercase;
}

/* ---- Галерея ---- */
.slider__item {
	width: 60%;

	margin: 25px auto;

	border-radius: 5px;

	position: relative;
}

.slider__wiki {
	border: 2px #17E9E0 solid;

	background-color: #17E9E0;

	position: relative;

	padding: 0 0 60% 0;
}

.slider__wiki img {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;

	opacity: 0;

	transition: opacity 1s ease;
}
.slider__wiki img.show {
	opacity: 1;
}

.wiki__slider {
	height: 30px;
	width: 100%;

	padding: 5px 0;

	display: flex;
	justify-content: center;
}
.wiki__slider > *:not(:last-child) {
	margin-right: 5px;
}

.dot__item {
	width: 20px;
	height: 20px;

	border-radius: 50%;

	background-color: rgba(166, 74, 201);

	opacity: 0.5;

	transition: 0.2s linear;
}
.dot__item:hover {
	cursor: pointer;
	opacity: 0.75;
}
.dot__item.active {
	opacity: 1;
}

/* ---- Кнопка слайдера ---- */
.btn {
	width: 30px;
	height: 30px;

	position: absolute;
	top: 50%;

	transform: translate(0, -50%);

	opacity: 0.7;

	transition: 0.2s linear;
}
.btn:hover {
	opacity: 1;

	cursor: pointer;
}
.btn__next {
	right: -40px;
}

.btn__prev {
	left: -40px;
}

.btn img {
	height: 100%;
	width: 100%;

	object-fit: cover;
}

/* ---- Блок дискография ---- */
.wiki__discography {
    display: none;
    justify-content: center;
    align-items: center;

    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;

    padding-left: 40px;
    padding-right: 40px;
}

.wiki__discography.active {
	display: block;
}

.wiki__albums {
    padding-left: 40px;
}

.wiki__discography p {
    background-color: #FCCD04;
    display: inline;
}

.wiki__discography h1 {
    display: block;

    background-color: #17E9E0;

    font-family: 'Noto Sans', sans-serif;
    font-size: px;
    font-weight: bold;

    padding-left: 15px;

    text-transform: uppercase;
}

.wiki__discography h2 {
    background-color: rgba(166, 74, 201, 1);
    display: inline;
}

/* ---- Блок награды ---- */
.wiki__awards {
    display: none;
    justify-content: center;
    align-items: center;

    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;

    padding-left: 40px;
    padding-right: 40px;
}

.wiki__awards.active {
	display: block;
}

/* ---- Блок соц сети ---- */
.wiki__social {
    display: none;
    justify-content: center;
    align-items: center;

    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;

    padding-left: 40px;
    padding-right: 40px;
}

.wiki__social.active {
	display: block;
}

/* ---- Намджун ---- */
.wiki__namjoon {
    display: block;
    justify-content: center;
    align-items: center;

    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;

    padding-left: 40px;
    padding-right: 40px;
}

/* ---- Джин ---- */

/* ---- Юнги ---- */

/* ---- Хосок ---- */

/* ---- Чимин ---- */

/* ---- Тэхён ---- */

/* ---- Чонгук ---- */


/* ---- Кнопка наверх ---- */
.button__up {
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 30px;
    height: 30px;

    background-color: #FCDC55;
    border-radius: 50%;

    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    transition: 0.3s linear;

    z-index: 1;
}

.button__up:hover {
    color: #fff;

    background-color: #FCCD04;

    opacity: 1;

    cursor: pointer;
}

.button__up a p {
    padding: 30px 5px;

}